alembic~=1.15
beautifulsoup4~=4.13
boto3~=1.37
Flask~=3.1
Flask-Cors~=6.0
gunicorn~=23.0
psycopg2-binary~=2.9
python-crontab~=3.2
requests~=2.32
SQLAlchemy~=2.0
testing.common.database~=2.0
testing.postgresql~=1.3
